@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

li {
  padding: 5px;
}

#print img {
  width: 20px;
  height: 20px;
}

#social h2 {
  display: inline-block;
  margin-right: 10px;
}

#social img {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}

#qr {
  display: none;
}

#switcher {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

#print {
  margin-right: 10px;
  padding: 0 5px;
  font-size: 2em;
}

#switcher a {
  margin-left: 10px;
}

.portrait {
  min-width: 100px;
  min-height: 100px;
  max-width: 15vw;
  height: 15vw;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  view-transition-name: portrait;
}

.title-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.info {
  min-width: none;
  width: 80vw;
  padding-left: 5px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  view-transition-name: info;
}

.info h1 {
  margin: 0;
  padding: 0;
}

.info p {
  padding: 5px;
}

.viewmore {
  cursor: pointer;
  color: white;
  font-size: 0.9em;
  background-color: blue;
  ;
  border: 1px solid blue;
  border-radius: 50%;
  padding: 0 5px;
  margin-left: 5px;
}

.closed,
.open {
  display: block;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.closed {
  max-height: 0vh;
}

/* Styling for classic theme */
.classic {
  background-color: white;
}

.classic .portrait {
  object-fit: contain;
}

.classic h2 {
  color: #8B1A10;
}

/* Styling for fantasy theme */
.fantasy {
  background-color: #fcf6e0;
}

.fantasy::before {
  content: '';
  position: fixed;
  inset: 0;
  background-image:
    url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    repeating-linear-gradient(-45deg,
      rgba(139, 69, 19, 0.05) 0px,
      rgba(139, 69, 19, 0.05) 1px,
      transparent 1px,
      transparent 3px);
  opacity: 0.3;
  z-index: -1;
  pointer-events: none;
}

.fantasy .info {
  border: 2px solid black;
}

.fantasy .info h1 {
  font-family: "Dancing Script", cursive;
  font-size: xx-large;
  color: #8B1A10;
}

.fantasy .portrait {
  width: 15vw;
  border: 2px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: cover;
}

.fantasy h2 {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  color: #8B1A10;
}

.sci-fi {
  background-color: black;
  color: green;
}

.sci-fi .info {
  border: 2px solid green;
}

.sci-fi .portrait {
  border: 2px solid green;
}

.sci-fi h2 {
  font-family: "Bitcount Grid Double", monospace;
  font-weight: 300;
}

/* Theme switching transition */
@view-transition {
  navigation: auto;
}

::view-transition-group(portrait),
::view-transition-group(info) {
  animation-duration: 0.5s;
}

/* Print style */
@media print {
  @page {
    size: A4 portrait;
    margin: 10mm 6mm;
  }

  body {
    min-width: 210mm;
    min-height: 297mm;
    print-color-adjust: exact;
  }

  section {
    display: inline-block;
    position: absolute;
  }

  #header {
    top: 0;
    left: 0;
  }

  .info p {
    margin: 0;
  }

  address {
    position: absolute;
    top: 10mm;
    left: 100mm;
    font-style: normal;
  }

  #switcher,
  #social,
  .viewmore {
    display: none;
  }

  #jobs,
  #education,
  #achievements {
    left: 70mm;
    width: 124mm;
  }

  #jobs {
    top: 45mm;
  }

  #education {
    top: 130mm;
  }

  #achievements {
    top: 180mm;
  }

  #qr {
    position: absolute;
    display: inline-block;
    top: 265mm;
    left: 25mm;
  }

  #skills,
  #assets {
    left: 4mm;
    width: 65mm;
  }

  #skills {
    top: 45mm;
  }

  #assets {
    top: 180mm;
  }

  #qr h2 {
    display: inline-block;
    vertical-align: top;
  }

  #qr img {
    display: inline-block;
    width: 20mm;
    height: 20mm;
    margin-left: 5mm;
  }

  h2 {
    margin-bottom: 3mm;
  }

  li {
    padding: 1mm;
  }

  li em {
    font-size: 0.9em;
  }

  li ul {
    list-style-type: none;
    margin: 0;
    padding-left: 2mm;
  }

  .classic #skills {
    background: linear-gradient(340deg, rgba(255, 255, 255, 1) 50%, rgba(232, 228, 223, 1) 100%);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
  }

  .classic #assets {
    background: linear-gradient(200deg, rgba(255, 255, 255, 1) 50%, rgba(232, 228, 223, 1) 100%);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
  }

  .fantasy #skills,
  .fantasy #assets {
    font-size: 0.9em;
  }

  .fantasy #skills {
    top: 46mm;
  }

  .fantasy #assets {
    top: 181mm;
  }
}